body, h1, h2, h3, ul, ol, li, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('1.jpg');
    background-size: cover;
    color: #333;
	a:hover {
    color: green;
}
}

header {
    background-color: #01C0F9;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header a {
    color: #fff;
}

#profile {
    text-align: center;
    margin-top: 20px;
}

#profile img {
    max-width: 200px;
    border-radius: 100%;
}

.centered {
    text-align: center;
}

.zebra-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.zebra-table tr:nth-child(1) {
    background-color: #fff192;
}

.zebra-table tr:nth-child(2) {
    background-color: #ffea61;
}
.zebra-table tr:nth-child(3) {
    background-color: #ffdd3c;
}
.zebra-table tr:nth-child(4) {
    background-color: #ffd400;
}

.zebra-table td {
    padding: 10px;
}

#hobbies, #favorite-albums, #nested-lists, #favorite-quote {
    margin-top: 20px;
    padding: 20px;

}
 #external-links {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}
}
#hobbies ul, #favorite-albums ol, #nested-lists div ul, #nested-lists div ol {
    margin-left: 20px;
}

#favorite-quote div {
    font-style: italic;
    text-align: center;
}

#external-links ul {
    list-style-type: none;
}

#external-links ul li {
    margin-bottom: 10px;
}

#external-links ul li a {
    text-decoration: none;
    color: #007acc;
}

#external-links ul li  a:hover, #hobbies ul li a:hover, #assignments tr td a:hover, #gsu a:hover {
    color: green;	
}
#hobbies ul li a:hover, #assignments tr td a:hover, #gsu a:hover {
    color: green;	
}
#assignments tr td a:hover, #gsu a:hover {
    color: green;	
}
#gsu a:hover {
    color: green;	
}
